<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charrua Sport</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../Css/main.css">
  </head>
 
  <body>
    <div class="contenedor">
      <aside>
        <header>
          <div class="logo">
          <h1 >Charrua Sports </h1>
          <img  src="../img/logo-charrua.png" alt="logo" class="img-logo">
        </div>
        </header>

        <nav>
          <ul>
            <li class="boton-agrandar boton-menu">
              <h2>
                <a href="../index.html" ><i class="bi bi-play-fill" ></i> Inicio</a>
              </h2>
            </li>
            <li class="boton-agrandar boton-menu">
              <h2>
                <a href="./remeras.html" ><i class="bi bi-play-fill"></i> Remeras</a>
              </h2>
            </li>
            <li class="boton-agrandar boton-menu">
              <h2>
                <a ><i class="bi bi-play-fill"></i> Pantalones</a>
              </h2>
            </li>
            <li class="boton-agrandar boton-menu">
              <h2>
                <a href="zapatillas.html"><i class="bi bi-play-fill"></i> Zapatillas</a>
              </h2>
            </li>
            <li>
              <h2 class="carrito">
                <a href="/carrito.html"  > <i class="bi bi-cart-fill"></i>  Carrito <span>( 0 )</span></a>
              </h2>
            </li>
          </ul>
        </nav>
        <footer>
          <p class="text-footer">© Nikollorente</p>
        </footer>
      </aside>

      <main>
        <h2>Inicio</h2>

        <div   class="products-container">



          <div >
            <img
            class="productos-imagen"
              src="https://www.dexter.com.ar/on/demandware.static/-/Sites-365-dabra-catalog/default/dwcbe6bd3e/products/ADHF3932/ADHF3932-1.JPG"
              alt="pantalon-1"
            />
            <div class="producto-detalle">
              <h3>Pantalon 1</h3>
              <b>$50000</b>
              <button class="button-agree">Agregar al carrito</button>
            </div>
          </div>

          <div >
            <img
            class="productos-imagen"
              src="https://www.dexter.com.ar/on/demandware.static/-/Sites-365-dabra-catalog/default/dw3eddc40d/products/NI_BV2679-010/NI_BV2679-010-1.JPG"
              alt="pantalon-2"
            />
            <div class="producto-detalle">
              <h3>Pantalon 2</h3>
              <b>$50000</b>
              <button class="button-agree">Agregar al carrito</button>
            </div>
          </div>


          <div >
            <img
            class="productos-imagen"
              src="https://www.dexter.com.ar/on/demandware.static/-/Sites-365-dabra-catalog/default/dwb225152b/products/LONIFW230028/LONIFW230028-1.JPG"
              alt="pantalon-3"
            />
            <div class="producto-detalle">
              <h3>Pantalon 3</h3>
              <b>$50000</b>
              <button class="button-agree">Agregar al carrito</button>
            </div>
          </div>



        </div>
      </main>
   

      <script src="./Js/main.js"></script>
  </body>
</html>
